.most-popular-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 45px;
}

.most-popular-cards .card-item p::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(../../img/icons/coping.svg);
  background-repeat: no-repeat;
  margin-right: 5px;
}


@media screen and (max-width:767px){
  .most-popular-cards{
    grid-template-columns: repeat(1, 1fr);
  }
}