.newsletter-section {
  background-image: url(../../img/newsletter.jpg);
  padding: 155px 0 180px;
  background-position: center;
  background-size: cover;
}

.newsletter-section .newsletter-section-text {
  color: white;
  width: 50%;
}

.newsletter-section .newsletter-section-text h1 {
  color: white;
  font-size: 36px;
  line-height: 42px;
}

.newsletter-section .newsletter-section-text p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  margin: 20px 0 40px;
}

@media screen and (max-width: 767px) {
  .newsletter-section .newsletter-section-text {
    width: 100%;
  }
  .newsletter-section .newsletter-section-text h1{
    font-size: 25px;
    line-height: 28px;
  }
}
