@import 'variables';

header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 0px;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  .header-logo{
    flex: 1;
    padding-left: 15px;
    img{
      max-width: 220px;
      margin: 18px 0px;
    }
  }
  .header-menu{
    ul{
      display: flex;
      gap: 25px;
      li{
        color: white;
        font-size: 15px;
        line-height: 38px;
        font-weight: 700;
        .menu-dropdown-trigger{
          display: none;
        }
      }
    }
  }
  .header-icons{
    display: flex;
    gap: 15px;
    a{
      &:first-child{
        img{
          max-width: 16px;
        }
      }
      &:last-child{
        img{
          max-width: 17px;
        }
      }
      img{
        max-width: 20px;
      }
    }
  }
  .header-hamburger-menu{
    display: none;
    .hamburger-trigger{
      background-color: transparent;
      border: 3px solid white;
      outline: none;
      padding: 9px 10px;
      span{
        width: 22px;
        height: 2px;
        background-color: white;
        margin-bottom: 4px;
        border-radius: 1px;
        display: block;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

}

@media screen and (max-width:1024px){
  header{
    flex-direction: column;
    padding-top: 0;
    gap: 0;
    .header-icons{
      order: 1;
      background-color: $green;
      width: 100%;
      padding: 20px 0px;
      a{
        &:first-child{
          margin-left: 10px;
        }
      }
    }
    .header-logo{
      order: 2;
    }
    .header-menu{
      order: 3;
    }
  }
}

@media screen and (max-width:767px){
  header{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .header-menu{
      background: $green;
      width: 100%;
      order: 4;
      display: none;
      ul{
        display: block;
        li{
          padding: 0 15px;
          border-bottom: 1px solid rgba($color: white, $alpha: .1);
          .menu-dropdown-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu-dropdown-trigger{
              display: block;
              background-color: transparent;
              border: 1px solid rgba($color: #000000, $alpha: .2);
              width: 30px;
              outline: none;
              height: 22px;
              img{
                width: 11px;
                margin: auto;
              }
            }
            .rotate-icon img{
              transform: rotate(180deg);
            }
          }
        }
      }

    }
    .show-menu{
      display: block !important;
    }
    .header-logo{
      width: fit-content;
      flex: none;
    }
    .header-hamburger-menu{
      display: block;
      order: 3;
      padding-right: 15px;
    }
  }
}
@import 'menu.scss'