.main-section{
  background-image: url(../../img/main-section-background.jpg);
  padding: 280px 0px 200px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    font-family: "Cherry Swash";
    line-height: 40px;
    color: white;
    margin-bottom: 20px;
  }
  h4{
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
  }
}